body{
    position: relative;
}

/* header部分 */
header{
    background-color: black;
    width: 100%;
}

#title_wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

h1{
    color: white;
}

#title_wrapper a{
    color: white;
    border: 1px solid white;
    padding: 10px;
}

#title_wrapper a:hover{
    color: black;
    background-color: white;
}

/* main部分 */
main{
    width: 100%;
    height: 500px;
    background-image: url(../img/top_image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

main p{
    font-size: 26px;
    color: white;
    text-align: center;
}

main div{
    background-color: black;
    opacity: 0.8;
    padding: 20px;
}

/* コンテンツ部分 */
#wrapper{
    width: 100%;
    margin: 0 auto;
}

#favorits{
    width: 100%;
    margin: 0 auto;
}

#inner{
    width: 100%;
    text-align: center;
}

#favorits{
    width: 100%;
    text-align: center;
}

h2{
    font-size: 28px;
    margin: 20px 0 10px;
}

#artworks_wrapper{
    width: 100%;
    margin: 20px;
}

#artworks{
    width: 100%;
    margin: 10px;
}

#f_artworks{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left; 
    align-items: center;
}

#artworks img{
    max-width:20%;
    max-height: 300px;
    margin: 20px;
    vertical-align: middle;
}

#artworks img:hover{
    opacity: 0.8;
}

#f_artworks img{
    max-width:20%;
    max-height: 300px;
    margin: 20px 30px 20px 30px;
    vertical-align: middle;
}

#f_artworks img:hover{
    opacity: 0.8;
}

#addBtn_area{
    width: 100%;
    background-color: black;
    margin: 0 auto;
    opacity:0.8 ;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

#addBtn{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    margin: 20px auto;
    cursor: pointer;
   
}

#addBtn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#favorits{
    visibility: hidden;
    position: absolute;
    top:568px;
}

/* ポップアップ */
.popup{
    visibility: hidden;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;    
}
 
.content{
    background: #fff;
    padding: 30px;
    width: 50%;
    height: auto;
    position: relative;
}

.content img{
    max-width: 300px;
    max-height: 300px;
}

#buy{
    font-size: 24px;
    background-color: goldenrod;
    color: white;
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 200px;
    cursor: pointer;
}

#buy:hover{
    opacity: 0.8;
}

#art_title{
    color: black;
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
}

#art_artist{
    color: black;
    font-size: 20px;
}

.showpop{
    display: flex;
    justify-content: center;
    align-items: center;
}

#close{
    position: absolute;
    top: 0;
    right: 0;
}